.email-signature-container {
  font-family: "Kanit", sans-serif;
    width: 1024px;
}

.email-signature-body {
  display: flex;
  justify-content: space-between;
  padding: 100px 70px 30px 70px;
}

.devider {
  background: #2b1812;
  width: 2px;
  height: 170px;
}


/* editable user information */
.user-name {
  color: #000;
  font-size: 38px;
  line-height: 1;
}

.user-designation {
  color: #000;
  font-size: 24px;
  color: #F7A94F;
  margin-bottom: 14px;
}

.phone-number-icon, .email-icon {
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    margin-right: 14px;
}

/* brand slogan, name and logo */
.brand-info {
    display: flex;
    gap: 30px;
}

.brand-slogan {
    color: #A55A35;
    font-size: 32px;
    font-weight: 600;
    line-height: 0.9;
}
.brand-name {
    color: #2B1812;
    font-size: 54px;
    font-weight: 600;
    line-height: 0.9;

}

.brand-logo-container {
    width: 130px;
    height: 130px;
    background-color: aliceblue;
}


/* footer */
.email-signature-footer {
    display: flex;
    justify-content: space-between;
}

.brand-contact {
    display: flex;
    gap: 30px;
    background-color: #050251;
    color: #ffffff;
    font-size: 10px;
    flex: 0.9;
    justify-content: space-between;
    padding: 24px;
    padding-left: 70px;
}

.footer-brand-logo-container {
    width: 200px;
    padding-right: 70px;
}

.brand-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
